body{
    height: 100vh;
}

.card{
    background: rgb(49, 82, 214);
    background-image: linear-gradient(rgb(228, 18, 155),rgb(214, 24, 68),rgb(121, 4, 157));
    height: 200px;
    width: 290px;
    position: relative;
    top: 120px;
    left: 25px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 5px;
    display: flex;
    margin-left: 150px;
    justify-items: center;
    margin-bottom: 100px;
}

.card .card1{
    background-color: blue;
    background-image: linear-gradient(to right, rgb(84, 138, 81),rgb(144, 0, 255),rgb(0, 30, 255));
    position: absolute;
    top: 2px;
    left: 2px;
    height: 190px;
    width: 286px;
    border-radius: 10px;
    transition: 0.52s;
}

.card .card1 .card2 {
    background-color: rgb(105, 17, 163);
    position: absolute;
    top: 5px;
    left: 5px;
    height: 180px;
    width: 276px;
    border-radius: 10px;
    transition: 0.54s;
    color: black;
}

.card:hover{
    height: 380px;
    top: 200px;
}


.card:hover .card1{
    height: 370px;
    top: 5px;
}

.card:hover .card1 .card2{
    height:360px;
    top: 8px;
}

.image{
    position: absolute;
    background-color: rgb(235, 225, 33);
    width: 100px;
    height: 100px;
    left: 30%;
    top: -20%;
    border-radius: 10px;
    box-shadow:  0px 10px 22px 5px rgba(0, 0, 0, 0.486);
    overflow: hidden; /*to clip the part of image if it is too big */
    transition: 0.5s;
    z-index: 1;
}

.card:hover .image{
    width: 200px ;
    height: 200px;
    transform: translateX(-20%);
}

.content{
    position: relative;
    height: 180px;
    width: 276px;
    background-color: rgb(188, 206, 207);
    background-image: radial-gradient( rgba(126, 45, 218, 0.692),rgba(138, 33, 179, 0.71),rgb(93, 15, 132));
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px;
}

.content .post{
    position: relative;
    top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 1.25em;
    font-weight: 100;
}

.card:hover .content{
    height:359px;
    top: 0px;
}

.card:hover .content .post{
    top: 130px;
    font-size: 1.5em;
    font-weight: 500;

}

.content .name{
    position: relative;
    top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    font-weight: 90;

}

.card:hover .content .name{
    top: 140px;
    font-size: 1.5em;
    font-weight: 500em;
    transition: 0.5s;

}

.content .description{
    position: relative;
    top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card:hover .content .description{
    top: 145px;
}

.content .links {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    top: 190px;
    
}

.content .links a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    transition: 0.2s;
}

.card:hover .content .links .g:hover {
    color: rgb(113, 6, 245);
    text-decoration: underline rgb(97, 5, 143);
    /* font-size: 1.55em; */
    font-weight:bold;

}

.card:hover .content .links .l:hover {
    color: blue;
    font-weight: bold;
    text-decoration: underline rgb(67, 67, 209);
}

.card:hover .content .links .i:hover {
    color: rgb(195, 24, 166);
    font-weight: bold;
    text-decoration: underline rgb(249, 0, 183);
}

@media only screen and (max-width:459px){
    .card{
        background: #f41111;
        height: 200px;
        width: 250px;
        position: relative;
        top: 100px;
        left: 60px;
        margin-bottom: 200px;
        padding-bottom: 200px;
        display: flex;
        margin-left: 13px;
        justify-items: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .card .card1{
        background-color: blue;
        background-image: linear-gradient(to right, rgb(84, 138, 81),rgb(144, 0, 255),rgb(0, 30, 255));
        position: absolute;
        top: 2px;
        left: 2px;
        height: 190px;
        width: 246px;
    }
    .card .card1 .card2{
        background-color: whitesmoke;
        position: absolute;
        top: 5px;
        left: 5px;
        height: 180px;
        width: 236px;
    }
    .content{
        position: relative;
        height: 180px;
        width: 235px;
        background-color: rgb(188, 206, 207);
        overflow: hidden;
    }
    
    .content .links a{
        text-decoration: none;
        color: black;
        font-size: 1em;
        transition: 0.2s;
    }
    .container-cards{
        display: block;
    }


.card:hover .image{
    width: 200px ;
    height: 200px;
    transform: translateX(-25%);
}
}

.container-cards{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 33.33%;
}