.color{
    /* background-color: #4A4238; */
    background-image: linear-gradient( rgb(27, 27, 58), rgb(80, 62, 198),rgb(27, 27, 58));
    height: 500vh
}



.color .grid-container span{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: -230px;
}

@media only screen and (max-width:1066px){
    .color .grid-container span{
        display: inherit;
        margin-bottom: 0px;
    }
    .color .grid-container {
        display: block;
    }
    .space{
        position: relative;
        top: -130px;
        height: 50px;
        margin-bottom: 200px;
    }
}

