.pack{
    background-color: aquamarine;
    height: 180px;
    width: 290px;
    /* border: 2px solid black; */
    border-radius: 4px;
    margin: 2px;
    margin-left: 28px;
    margin-top: 10px;
    margin-bottom: 22px;
    padding: 4px;
    padding-top: 12px;
    cursor: pointer;
}
.pro_image{
    background-color: yellow;
    height: 80px;
    width: 100px;
    position: relative;
    top: -20px;
    left: -25px;
    border-radius: 3px;
}
.pro_content{
    display: block;

}

.pro_content h2{
    position: relative;
    left: 100px;
    top: -50px;
}

.pro_content p{
    position: relative;
    left: 10px;
    top: -40px;
    height: 90px;
    width: 260px;
    overflow: scroll;
    overflow-x: hidden;
}

.pack .pro_content p::-webkit-scrollbar{
    width: 2px;
    background-color: rgb(21, 196, 244);
}



.pro_image img {
    height: 80px;
    width: 100px;
    border-radius: 3px;
    opacity: .85;
}

.pro_image img:hover{
    opacity: 1;
}